.header{
  padding: 12px 0 0 0
}

.navLink {
  font-size: 21px;
  margin-left: 20px;
  text-decoration: none;
}
.active {
  font-size: 21px;
  margin-left: 20px;
  text-decoration: none;
  color: #e01c1c;
}

.drov{
  margin-top: 20px ;
  padding: 0;
  height: 10px;
  border: none;
  /* border-top: 1px solid #333; */
  box-shadow: 0 10px 10px -10px #8c8b8b inset
}